*.mp4
*.mkv
*.pyc
*.xml
.idea/
src/*.png
src/*.mp3
src/*.swp
venv/
.DS_Store
.idea/
__pycache__/
asdf/
MANIFEST.in
pypiREADME.md
*.avi
*.log
osr2mp4/*.log
build/
ccurves.cpython-37m-darwin.so
cmake-build-debug/
osr2mp4/ImageProcess/Curves/libcurves/CMakeLists.txt
osr2mp4/ImageProcess/Curves/libcurves/test.py
osr2mp4/config0.json
osr2mp4/config1.json
osr2mp4/config2.json
osr2mp4/config3.json
osr2mp4/config4.json
osr2mp4/config5.json
osr2mp4/config6.json
osr2mp4/config7.json
osr2mp4/config8.json
osr2mp4/config9.json
